<%layout('./partials/layout')%>
  <body class="text-center">
    <div>
      <div>
        <h1>Order Status</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h2>Search for an Order</h2>
        <p>Please enter Purchase ID:</p>
        <div id="vue-search">
          <input type="text" v-model="Id" class="col-lg-4">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" @click="subtmitId">Submit</button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
      <div class="col-lg-6">
        <h2>Sign in to see your recent orders</h2>
        <p>Orders placed with your Account.</p>
        <span class="input-group-btn">
          <a href="/signin"  class="btn btn-black" type="button">Sign In</a>
          <a href="/signup"class="btn btn-default btn-black" type="button">Create an Account</a>
        </span>
      </div>
    </div>
    <p class="mt-5 mb-3 text-muted">©VGU 2019</p>
  </body>
  <script src="/javascripts/components/searchControl.js"></script>
