<%layout('./partials/usuallayout')%>
  <main class="text-center" id="vue-search">
    <div>
      <div>
        <h2>Order Detail</h2>
      </div>
    </div>
    <div class="container-fluid">
        <table class="table table-hover table-striped ">
            <thead>
                <tr>
                    <th scope="col" class="col-3">Draft</th>
                    <th scope="col" class="col-3">Activated</th>
                    <th scope="col" class="col-3">Delivering</th>
                    <th scope="col" class="col-3">Completed</th>
                </tr>
            </thead>
            <tbody>
             <!-- <div v-for="element in orderData"> 
                <div style="text-align:left; margin-left: 30px;" class="row">
                      <p style="margin-right:40px" >Order Id: {{element.Id}}</p>
                      <p style="margin-right:40px">Total Amount : ${{element.Total}}</p>
                      <p style="margin-right:40px">Start Date : {{element.EffectiveDate}}</p>
                </div>-->
              <tr v-for="element in orderData">
                <td colspan="4">
                  <div style="text-align:left; margin-left: 30px;" class="row">
                    <p style="margin-right:40px" >Order Id: {{element.Id}}</p>
                    <p style="margin-right:40px">Total Amount : ${{element.Total}}</p>
                    <p style="margin-right:40px">Start Date : {{element.EffectiveDate}}</p>
                    <button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1" style="margin-left: 400px; margin-bottom: 10px;margin-right:40px;">Order Products</button>
                    <button type="button" class="btn btn-warning btn-sm" style="margin-bottom: 10px;" v-on:click="addOrder(element.Id)">Add to my order</button>
                  </div>
                  <div class="progress progress-striped active">
                    <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" :style="'width:'+element.Progress+'%'">
                    </div>
                  </div>
                  <div class="collapse multi-collapse" id="multiCollapseExample1">
                      <table class="table table-hover table-striped ">
                        <thead>
                          <tr>
                            <th scope="col" class="col-2">Id</th>
                            <th scope="col" class="col-4">Name</th>
                            <th scope="col" class="col-2">Unit Price</th>
                            <th scope="col" class="col-2">Quantity</th>
                            <th scope="col" class="col-2">Total Price</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="product in element.orderProducts">
                            <td>{{product.Product2.Id}}</td>
                            <td>{{product.Product2.Name}}</td>
                            <td>{{product.UnitPrice}}</td>
                            <td>{{product.Quantity}}</td>
                            <td>{{product.TotalPrice}}</td>
                          </tr>
                        </tbody> 
                      </table>
                  </div>
                  <div class="row" style="margin-left: 900px; margin-top: 20px;">
                    <button class="btn btn-primary" style="margin-right:40px" type="button">Activate</button>
                    <button class="btn btn-danger" style="margin-right:40px" type="button">Cancel</button>
                    <button class="btn btn-success" style="margin-right:40px" type="button">Complete</button>
                  </div>
                </td>
              </tr>
            </tbody>
        </table>
    </div>

  
  </main>
  <script src="/javascripts/components/searchControl.js"></script>
